:root {
  --color-text: hsl(219, 9%, 45%);
  --color-light-grey: hsl(220, 14%, 75%);
  --color-background: hsl(223, 64%, 98%);
  --color-orange: hsl(26, 100%, 55%);
  --color-pale-orange: hsl(25, 100%, 94%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

button {
  cursor: pointer;
  border: none;
  background: local;
  border-radius: 10px;
  &[disabled] {
    cursor: unset;
  }
}

strong {
  font-weight: 700;
}

.btn-orange {
  background-color: var(--color-orange);
  color: white;
  padding: 12px;
  border-radius: 8px;
  &:hover,
  &[disabled] {
    background-color: rgba($color: #f56c0a, $alpha: 0.6);
  }
}

img {
  width: 100%;
}

li {
  list-style: none;
}
input {
  border: none;
  border-bottom: 1px solid black;
  padding: 4px;
}
a {
  text-decoration: none;
  color: black;
}
